
:root {
    color-scheme: light;

    --background-color: #fff;
    --text-color: #000;

    --main-font: 'Open Sans', sans-serif;
    --main-background-color: transparent;
    --main-color: purple;
    --main-text-color: purple;
    --main-text-light-color: MediumPurple;

    --selected-background-color: purple;
    --selected-text-color: #fff;

    --error-background-color: red;
    --error-text-color: #fff;

    --debug-font: "Courier New", monospace;

    @media (prefers-color-scheme: dark) {
	color-scheme: dark;

	--background-color: #000;
	--text-color: #ccc;

	--main-font: 'Open Sans', sans-serif;
	--main-background-color: transparent;
	--main-color: purple;
        --main-text-color: #ccc;
	--main-text-light-color: MediumPurple;

	--selected-background-color: purple;
	--selected-text-color: #fff;

	--error-background-color: red;
	--error-text-color: #fff;

	--debug-font: "Courier New", monospace;
    }
}

* {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
body {
    font-size: 1em;
    font-family: var(--main-font);
    background: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0 0 15em 0;
}

.section.info {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.section.info .content {
    background: var(--selected-background-color);
    color: var(--selected-text-color);
    font-family: var(--debug-font);
    font-size: 0.8em;
    padding: 0.5em 0.5em 0.3em 0.5em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.section.info .content .right {
    margin-left: auto;
}

.section.scan {
    text-align: center;
    margin-top: 5em;
}
.section.scan .button.scan {
    position: relative;
}

.section.action_buttons {
    text-align: center;
    margin-top: 4em;
}
.section.action_buttons .button {
    position: relative;
}
.section.action_buttons .button:after {
    color: var(--main-text-light-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.7em;
}
.section.action_buttons .button:before {
    color: var(--main-text-light-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.7em;
}
.section.action_buttons .button.gear:before {
    content: "current";
}
.section.action_buttons .button.gears:before {
    content: "total";
}
.section.action_buttons .button.up:after,
.section.action_buttons .button.down:after {
    content: "shift";
}
.section.action_buttons .button.gear:after {
    content: "gear";
}
.section.action_buttons .button.gears:after {
    content: "gears";
}

.section.micro {
    text-align: center;
    margin-top: 0.2em;
}
.section.micro .button {
    position: relative;
}
.section.micro .button:after {
    color: var(--main-text-light-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.7em;
}
.section.micro .button:before {
    color: var(--main-text-light-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.7em;
}
.section.micro .button.up:before,
.section.micro .button.down:before {
    content: "micro";
}
.section.micro .button.up:after,
.section.micro .button.down:after {
    content: "shift";
}

.section.gear_values {
    text-align: center;
    margin-top: 2em;
}
.section.gear_values .gear {
    margin-bottom: 0.2em;
    white-space: nowrap;
}
.section.gear_values .vcontent {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*-webkit-flex-wrap: wrap;
    flex-wrap: wrap;*/
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
}
.section.gear_values .content {
}
.section.gear_values .buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*-webkit-flex-wrap: wrap;
    flex-wrap: wrap;*/
    -webkit-flex-direction: column;
    flex-direction: column;
    /*align-items: flex-start;*/
    justify-content: space-between;
    margin-left: 1em;
}
.section.gear_values .buttons .button {
    margin-bottom: 0.2em;
}
.section.gear_values .buttons .fake {
}
.section.gear_values .buttons .set_all {
}
.section.gear_values .buttons .save {
}
.section.gear_values .content .button.plus {
    position: relative;
}
.section.gear_values .content .button.plus:after {
    color: var(--main-text-light-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.7em;
    text-align: center;
    margin-left: calc(-7em);
    z-index: 1;
    pointer-events: none;
}
.section.gear_values .presets {
    margin-top: 1em;
    margin-bottom: 1em;
}
.section.gear_values .preset_wrap {
    white-space: nowrap;
    display: inline-block;
    margin: 0 0.1em;
}
.section.gear_values .preset_wrap .preset {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0.2em;
}
.section.gear_values .preset_wrap .del {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
    padding: 0.6em 1em;
    width: 0.5em;
}

.buttons_function {
    text-align: center;
    margin-top: 2em;
}
.buttons_function .vbutton {
    position: relative;
}
.buttons_function .vbutton:before {
    content: "function";
    color: var(--main-text-light-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.7em;
}
.buttons_function .vbutton:after {
    content: "shift";
    color: var(--main-text-light-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.7em;
}

.section.disconnect {
    text-align: center;
    margin-top: 2em;
}

.button {
    display: inline-block;
    cursor: pointer;
    background: var(--main-background-color);
    padding: 0.6em 1.5em;
    border-radius: 2em;
    border: 2px solid var(--main-color);
    color: var(--main-text-color);
    font-size: 0.9em;
    font-family: var(--main-font);
}
.button.selected {
    background: var(--selected-background-color);
    color: var(--selected-text-color);
}
.button_debug {
    position: absolute;
    padding: 0.9em;
    width: 0.9em;
    height: 0.8em;
    text-align: center;
    line-height: 0.85em;
    font-weight: bold;
}
.vbox {
    display: inline-block;
}
.vbutton:first-child {
    display: block;
    cursor: pointer;
    background: var(--main-background-color);
    padding: 0.6em 1.5em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border: 2px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    color: var(--main-text-color);
    font-size: 0.9em;
    font-family: var(--main-font);
}
.vbutton:last-child {
    display: block;
    cursor: pointer;
    background: var(--main-background-color);
    padding: 0.6em 1.5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border: 2px solid var(--main-color);
    border-top: 1px solid var(--main-color);
    color: var(--main-text-color);
    font-size: 0.9em;
    font-family: var(--main-font);
}
select {
    appearance: none;
    outline: none;
    border: 0;
    cursor: pointer;
    background: var(--main-background-color);
    color: var(--main-text-color);
    font-size: 0.9em;
    font-family: var(--main-font);
    text-align: center;
}
.section.gear_values .button.minus {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    padding: 0.6em 1em;
    width: 0em;
}
.section.gear_values .button.plus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    padding: 0.6em 1em;
    width: 0em;
}
.section.gear_values .button.set {
    margin-left: 0.2em;
}
.section.gear_values input[type="text"] {
    width: 3em;
    border: 2px solid var(--main-color);
    color: var(--main-text-color);
    border-left: 0;
    border-right: 0;
    padding: 0.6em 0;
    font-size: 0.9em;
    font-family: var(--main-font);
    text-align: center;
    background: var(--main-background-color);
    box-sizing: border-box;
}

.debug {
    border: none;
    resize: none;
    font-family: var(--debug-font);
    font-size: 0.7em;
    height: 15em;
    overflow: auto;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    background: var(--background-color);
    color: var(--text-color);
}
.button_debug {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 11;
}

.gear1:after { content: "gear 1"; }
.gear2:after { content: "gear 2"; }
.gear3:after { content: "gear 3"; }
.gear4:after { content: "gear 4"; }
.gear5:after { content: "gear 5"; }
.gear6:after { content: "gear 6"; }
.gear7:after { content: "gear 7"; }
.gear8:after { content: "gear 8"; }
.gear9:after { content: "gear 9"; }
.gear10:after { content: "gear 10"; }
.gear11:after { content: "gear 11"; }
.gear12:after { content: "gear 12"; }
.gear13:after { content: "gear 13"; }
.gear14:after { content: "gear 14"; }

.error {
    color: var(--error-text-color);
    background: var(--error-background-color);;
    cursor: pointer;
    display: inline-block;
    left: 50%;
    padding: 0.6em 1.5em;
    border-radius: 2em;
    border: 2px solid red;
    font-size: 0.9em;
    font-family: var(--main-font);
    position: fixed;
    transform: translateX(-50%);
    bottom: 1em;
    z-index: 100;
    white-space: nowrap;
}
.qalert {
    color: var(--selected-text-color);
    background: var(--selected-background-color);
    cursor: pointer;
    display: inline-block;
    left: 50%;
    padding: 0.6em 1.5em;
    border-radius: 2em;
    border: 2px solid var(--main-color);
    font-size: 0.9em;
    font-family: var(--main-font);
    position: fixed;
    transform: translateX(-50%);
    bottom: 1em;
    z-index: 100;
    white-space: nowrap;
    text-align: center;
}

.dim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
}
