
:root {
    color-scheme: light;

    --background-color: #fff;
    --text-color: #000;

    --main-font: 'Open Sans', sans-serif;
    --main-background-color: transparent;
    --main-color: purple;
    --main-text-color: purple;
    --main-text-light-color: MediumPurple;

    --selected-background-color: purple;
    --selected-text-color: #fff;

    --error-background-color: red;
    --error-text-color: #fff;

    --debug-font: "Courier New", monospace;

    @media (prefers-color-scheme: dark) {
	color-scheme: dark;

	--background-color: #000;
	--text-color: #ccc;

	--main-font: 'Open Sans', sans-serif;
	--main-background-color: transparent;
	--main-color: purple;
        --main-text-color: #ccc;
	--main-text-light-color: MediumPurple;

	--selected-background-color: purple;
	--selected-text-color: #fff;

	--error-background-color: red;
	--error-text-color: #fff;

	--debug-font: "Courier New", monospace;
    }
}

* {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
body {
    font-size: 1em;
    font-family: var(--main-font);
    background: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0 0 2em 0;
}
body.logs {
    padding-bottom: 12em;
}

.live .cgear {
    margin: 12em 0 10em 0;
    /*display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;*/
}
.live .gear {
    font-size: 15em;
    line-height: 0.8em;
    text-align: center;
    color: var(--main-color);
}
.live .gears {
    margin-top: 0.5em;
    text-align: center;
    font-size: 1.5em;
    color: var(--main-text-light-color);
}
.live .action_buttons {
    text-align: center;
}
.live .button {
    font-size: 1.7em;
    margin: 0 0.2em;
}

.info {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.info .content,
.info .txcontent {
    background: var(--selected-background-color);
    color: var(--selected-text-color);
    font-family: var(--debug-font);
    font-size: 0.8em;
    padding: 0.5em 0.5em 0.3em 0.5em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.info .content .right {
    margin-left: auto;
}
.info.big {
    font-size: 2em;
}
.info.big .left_rd {
    display: none;
}
.info.big .right_shifter {
    display: none;
}

.scan {
    text-align: center;
    margin-top: 5em;
}
.scan .button.edsscan {
    position: relative;
}

.settings .action_buttons,
.txsettings .front_buttons {
    text-align: center;
    margin-top: 4em;
}
.txsettings .action_buttons {
    text-align: center;
    margin-top: 2em;
}
.settings .action_buttons .button,
.txsettings .action_buttons .button,
.txsettings .front_buttons .button,
.live .action_buttons .button {
    position: relative;
}
.settings .action_buttons .button:after,
.txsettings .action_buttons .button:after,
.txsettings .front_buttons .button:after,
.live .action_buttons .button:after {
    color: var(--main-text-light-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.7em;
}
.settings .action_buttons .button:before,
.txsettings .front_buttons .button:before,
.txsettings .action_buttons .button:before {
    color: var(--main-text-light-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.7em;
}
.settings .action_buttons .button.gear:before,
.txsettings .front_buttons .button.gear:before,
.txsettings .action_buttons .button.gear:before {
    content: "current";
}
.settings .action_buttons .button.gears:before,
.txsettings .action_buttons .button.gears:before {
    content: "total";
}
.settings .action_buttons .button.up:after,
.settings .action_buttons .button.down:after,
.txsettings .front_buttons .button.up:after,
.txsettings .front_buttons .button.down:after,
.txsettings .action_buttons .button.up:after,
.txsettings .action_buttons .button.down:after,
.live .action_buttons .button.up:after,
.live .action_buttons .button.down:after {
    content: "shift";
}
.settings .action_buttons .button.gear:after,
.txsettings .front_buttons .button.gear:after,
.txsettings .action_buttons .button.gear:after {
    content: "gear";
}
.settings .action_buttons .button.gears:after,
.txsettings .action_buttons .button.gears:after {
    content: "gears";
}
.settings .micro,
.txsettings .front_micro,
.txsettings .micro {
    text-align: center;
    margin-top: 0.2em;
}
.settings .micro .button,
.txsettings .front_micro .button,
.txsettings .micro .button {
    position: relative;
}
.settings .micro .button:after,
.txsettings .front_micro .button:after,
.txsettings .micro .button:after {
    color: var(--main-text-light-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.7em;
}
.settings .micro .button:before,
.txsettings .front_micro .button:before,
.txsettings .micro .button:before {
    color: var(--main-text-light-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.7em;
}
.settings .micro .button.up:before,
.settings .micro .button.down:before,
.txsettings .front_micro .button.up:before,
.txsettings .front_micro .button.down:before,
.txsettings .micro .button.up:before,
.txsettings .micro .button.down:before {
    content: "micro";
}
.settings .micro .button.up:after,
.settings .micro .button.down:after,
.txsettings .front_micro .button.up:after,
.txsettings .front_micro .button.down:after,
.txsettings .micro .button.up:after,
.txsettings .micro .button.down:after {
    content: "shift";
}
.settings .gear_values,
.txsettings .gear_values {
    text-align: center;
    margin-top: 2em;
}
.settings .gear_values .gear,
.txsettings .gear_values .front,
.txsettings .gear_values .gear {
    margin-bottom: 0.2em;
    white-space: nowrap;
}
.settings .gear_values .vcontent,
.txsettings .gear_values .fvcontent,
.txsettings .gear_values .vcontent {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*-webkit-flex-wrap: wrap;
    flex-wrap: wrap;*/
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
}
.txsettings .gear_values .fvcontent {
    margin-bottom: 1em;
}
.settings .gear_values .buttons,
.txsettings .gear_values .buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*-webkit-flex-wrap: wrap;
    flex-wrap: wrap;*/
    -webkit-flex-direction: column;
    flex-direction: column;
    /*align-items: flex-start;*/
    justify-content: space-between;
    margin-left: 1em;
}
.settings .gear_values .buttons .button,
.txsettings .gear_values .buttons .button {
    margin-bottom: 0.2em;
}
.settings .gear_values .content .button.plus,
.txsettings .gear_values .content .button.plus {
    position: relative;
}
.settings .gear_values .content .button.plus:after,
.txsettings .gear_values .content .button.plus:after {
    color: var(--main-text-light-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.7em;
    text-align: center;
    margin-left: calc(-7em);
    z-index: 1;
    pointer-events: none;
}
.settings .gear_values .presets,
.txsettings .gear_values .presets {
    margin-top: 1em;
    margin-bottom: 1em;
}
.settings .gear_values .preset_wrap,
.txsettings .gear_values .preset_wrap {
    white-space: nowrap;
    display: inline-block;
    margin: 0 0.1em;
}
.settings .gear_values .preset_wrap .preset,
.txsettings .gear_values .preset_wrap .preset {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0.2em;
}
.settings .gear_values .preset_wrap .del,
.txsettings .gear_values .preset_wrap .del {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
    padding: 0.6em 1em;
    width: 0.5em;
}

.buttons_function {
    text-align: center;
    margin-top: 2em;
}
.buttons_function .vbutton {
    position: relative;
}
.buttons_function .vbutton:before {
    content: "function";
    color: var(--main-text-light-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.7em;
}
.buttons_function .vbutton:after {
    content: "shift";
    color: var(--main-text-light-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.7em;
}

.button {
    display: inline-block;
    cursor: pointer;
    background: var(--main-background-color);
    padding: 0.6em 1.5em;
    border-radius: 2em;
    border: 2px solid var(--main-color);
    color: var(--main-text-color);
    font-size: 0.9em;
    font-family: var(--main-font);
}
.button.selected {
    background-color: var(--selected-background-color);
    color: var(--selected-text-color);
}
.button_debug,
.button_page,
.button_menu,
.button_power,
.button_export,
.button_import {
    /*position: absolute;*/
    padding: 0.9em;
    width: 0.9em;
    height: 0.8em;
    text-align: center;
    line-height: 0.85em;
    font-weight: bold;
}
.button_debug,
.button_menu {
    background: var(--background-color);
}
.button_page,
.button_power,
.button_export,
.button_import {
    background: var(--selected-background-color);
}

.vbox {
    display: inline-block;
}
.vbutton:first-child {
    display: block;
    cursor: pointer;
    background: var(--main-background-color);
    padding: 0.6em 1.5em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border: 2px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    color: var(--main-text-color);
    font-size: 0.9em;
    font-family: var(--main-font);
}
.vbutton:last-child {
    display: block;
    cursor: pointer;
    background: var(--main-background-color);
    padding: 0.6em 1.5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border: 2px solid var(--main-color);
    border-top: 1px solid var(--main-color);
    color: var(--main-text-color);
    font-size: 0.9em;
    font-family: var(--main-font);
}
select {
    appearance: none;
    outline: none;
    border: 0;
    cursor: pointer;
    background: var(--main-background-color);
    color: var(--main-text-color);
    font-size: 0.9em;
    font-family: var(--main-font);
    text-align: center;
}
.settings .gear_values .button.minus,
.txsettings .gear_values .button.minus {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    padding: 0.6em 1em;
    width: 0em;
}
.settings .gear_values .button.plus,
.txsettings .gear_values .button.plus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    padding: 0.6em 1em;
    width: 0em;
}
.settings .gear_values .button.set,
.txsettings .gear_values .button.set {
    margin-left: 0.2em;
}
.settings .gear_values input[type="text"],
.txsettings .gear_values input[type="text"] {
    width: 3em;
    border: 2px solid var(--main-color);
    color: var(--main-text-color);
    border-left: 0;
    border-right: 0;
    padding: 0.6em 0;
    font-size: 0.9em;
    font-family: var(--main-font);
    text-align: center;
    background: var(--main-background-color);
    box-sizing: border-box;
}

.icon-bike {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M5 20.5A3.5 3.5 0 0 1 1.5 17A3.5 3.5 0 0 1 5 13.5A3.5 3.5 0 0 1 8.5 17A3.5 3.5 0 0 1 5 20.5M5 12a5 5 0 0 0-5 5a5 5 0 0 0 5 5a5 5 0 0 0 5-5a5 5 0 0 0-5-5m9.8-2H19V8.2h-3.2l-1.94-3.27c-.29-.5-.86-.83-1.46-.83c-.47 0-.9.19-1.2.5L7.5 8.29C7.19 8.6 7 9 7 9.5c0 .63.33 1.16.85 1.47L11.2 13v5H13v-6.5l-2.25-1.65l2.32-2.35m5.93 13a3.5 3.5 0 0 1-3.5-3.5a3.5 3.5 0 0 1 3.5-3.5a3.5 3.5 0 0 1 3.5 3.5a3.5 3.5 0 0 1-3.5 3.5m0-8.5a5 5 0 0 0-5 5a5 5 0 0 0 5 5a5 5 0 0 0 5-5a5 5 0 0 0-5-5m-3-7.2c1 0 1.8-.8 1.8-1.8S17 1.2 16 1.2S14.2 2 14.2 3S15 4.8 16 4.8'/%3E%3C/svg%3E");
    background-position: center;
}
.icon-gear {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='purple' d='M12 15.5A3.5 3.5 0 0 1 8.5 12A3.5 3.5 0 0 1 12 8.5a3.5 3.5 0 0 1 3.5 3.5a3.5 3.5 0 0 1-3.5 3.5m7.43-2.53c.04-.32.07-.64.07-.97s-.03-.66-.07-1l2.11-1.63c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.31-.61-.22l-2.49 1c-.52-.39-1.06-.73-1.69-.98l-.37-2.65A.506.506 0 0 0 14 2h-4c-.25 0-.46.18-.5.42l-.37 2.65c-.63.25-1.17.59-1.69.98l-2.49-1c-.22-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64L4.57 11c-.04.34-.07.67-.07 1s.03.65.07.97l-2.11 1.66c-.19.15-.25.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1.01c.52.4 1.06.74 1.69.99l.37 2.65c.04.24.25.42.5.42h4c.25 0 .46-.18.5-.42l.37-2.65c.63-.26 1.17-.59 1.69-.99l2.49 1.01c.22.08.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64z'/%3E%3C/svg%3E");
    background-position: center;
}
.icon-gear.selected {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12 15.5A3.5 3.5 0 0 1 8.5 12A3.5 3.5 0 0 1 12 8.5a3.5 3.5 0 0 1 3.5 3.5a3.5 3.5 0 0 1-3.5 3.5m7.43-2.53c.04-.32.07-.64.07-.97s-.03-.66-.07-1l2.11-1.63c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.31-.61-.22l-2.49 1c-.52-.39-1.06-.73-1.69-.98l-.37-2.65A.506.506 0 0 0 14 2h-4c-.25 0-.46.18-.5.42l-.37 2.65c-.63.25-1.17.59-1.69.98l-2.49-1c-.22-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64L4.57 11c-.04.34-.07.67-.07 1s.03.65.07.97l-2.11 1.66c-.19.15-.25.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1.01c.52.4 1.06.74 1.69.99l.37 2.65c.04.24.25.42.5.42h4c.25 0 .46-.18.5-.42l.37-2.65c.63-.26 1.17-.59 1.69-.99l2.49 1.01c.22.08.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64z'/%3E%3C/svg%3E");
}
.icon-power {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='m16.56 5.44l-1.45 1.45A5.97 5.97 0 0 1 18 12a6 6 0 0 1-6 6a6 6 0 0 1-6-6c0-2.17 1.16-4.06 2.88-5.12L7.44 5.44A7.96 7.96 0 0 0 4 12a8 8 0 0 0 8 8a8 8 0 0 0 8-8c0-2.72-1.36-5.12-3.44-6.56M13 3h-2v10h2'/%3E%3C/svg%3E");
    background-position: center;
}
.icon-wrench {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='m22.7 19l-9.1-9.1c.9-2.3.4-5-1.5-6.9c-2-2-5-2.4-7.4-1.3L9 6L6 9L1.6 4.7C.4 7.1.9 10.1 2.9 12.1c1.9 1.9 4.6 2.4 6.9 1.5l9.1 9.1c.4.4 1 .4 1.4 0l2.3-2.3c.5-.4.5-1.1.1-1.4'/%3E%3C/svg%3E");
    background-position: center;
}
.icon-logs {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='purple' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 12h.01M4 6h.01M4 18h.01M8 18h2m-2-6h2M8 6h2m4 0h6m-6 6h6m-6 6h6'/%3E%3C/svg%3E");
    background-position: center;
}
.icon-logs.selected {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 12h.01M4 6h.01M4 18h.01M8 18h2m-2-6h2M8 6h2m4 0h6m-6 6h6m-6 6h6'/%3E%3C/svg%3E");
}
.icon-import {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'%3E%3Cpath d='M4 12a8 8 0 1 0 16 0'/%3E%3Cpath stroke-linejoin='round' d='M12 4v10m0 0l3-3m-3 3l-3-3'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
}
.icon-export {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1.5'%3E%3Cpath d='M4 12a8 8 0 1 0 16 0'/%3E%3Cpath stroke-linejoin='round' d='M12 14V4m0 0l3 3m-3-3L9 7'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
}

.debug {
    border: none;
    resize: none;
    font-family: var(--debug-font);
    font-size: 0.7em;
    height: 15em;
    overflow: auto;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    background: var(--background-color);
    color: var(--text-color);
}
.menus {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 11;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.menus .bmenus {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.menus .bmenus>div {
    margin-right: 0.8em;
}

.front1:after { content: "front 1"; }
.front2:after { content: "front 2"; }
.front3:after { content: "front 3"; }
.front4:after { content: "front 4"; }
.front5:after { content: "front 5"; }
.front6:after { content: "front 6"; }

.gear1:after { content: "gear 1"; }
.gear2:after { content: "gear 2"; }
.gear3:after { content: "gear 3"; }
.gear4:after { content: "gear 4"; }
.gear5:after { content: "gear 5"; }
.gear6:after { content: "gear 6"; }
.gear7:after { content: "gear 7"; }
.gear8:after { content: "gear 8"; }
.gear9:after { content: "gear 9"; }
.gear10:after { content: "gear 10"; }
.gear11:after { content: "gear 11"; }
.gear12:after { content: "gear 12"; }
.gear13:after { content: "gear 13"; }
.gear14:after { content: "gear 14"; }

.error {
    color: var(--error-text-color);
    background: var(--error-background-color);;
    cursor: pointer;
    display: inline-block;
    left: 50%;
    padding: 0.6em 1.5em;
    border-radius: 2em;
    border: 2px solid red;
    font-size: 0.9em;
    font-family: var(--main-font);
    position: fixed;
    transform: translateX(-50%);
    bottom: 1em;
    z-index: 100;
    white-space: nowrap;
}
.qalert {
    color: var(--selected-text-color);
    background: var(--selected-background-color);
    cursor: pointer;
    display: inline-block;
    left: 50%;
    padding: 0.6em 1.5em;
    border-radius: 2em;
    border: 2px solid var(--main-color);
    font-size: 0.9em;
    font-family: var(--main-font);
    position: fixed;
    transform: translateX(-50%);
    bottom: 1em;
    z-index: 100;
    white-space: nowrap;
    text-align: center;
}

.dim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
}
